<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - LampStore</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/LampStore.styles.css" asp-append-version="true" />
</head>

<body>
	<header class="header">
		<div class="container">
			<div class="header__wrapper">
				@Html.AntiForgeryToken()
				<a class="logo" asp-area="" asp-page="/Index">Lights 4 Apart</a>
				<nav id="navWrapper" class="nav__wrapper">
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link a-btn__header" asp-area="" asp-page="/Index">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link a-btn__header" asp-area="" asp-page="/Privacy">Privacy</a>
						</li>
						<li class="nav-item">
							<a class="nav-link a-btn__header" href="/About/1">Компания</a>
						</li>
						<li class="nav-item">
							<a class="nav-link a-btn__header" href="/Catalog/1?sortOrder=0">Каталог</a>
						</li>
					</ul>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="cart__wrapper">
						<vc:cart-summary /> @* корзина *@
					</div>
				</nav>
			</div>
		</div>
	</header>
	<div class="container mt-per-5">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2022 - LampStore - <a asp-area="" asp-page="/Privacy">Privacy</a>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>