@page
@model _404
@{
	ViewData["title"] = "404 - Страница не найдена";
	ViewData["Breadcrumb"] = await Component.InvokeAsync("BreadcrumbSummary", new[] { (url: "/", page: "Главная"),
(url: "/errors/404", page: "404") });
}




<div class="_404__wrapper">
	<div class="_404__container" style="text-align: center;  color: #000000;">
		<h1 style="font-size: 150px; color: #000000; margin-bottom: 0px;">404</h1>
		<p class="_404__caption">Страница не найдена</p>
		<p>Страница, которую вы ищете, не существует или возникла другая проблема.</p>
		<p>Пожалуйста, вернитесь на главную.</p>
		<a class="btn__general mt-2" asp-area="" asp-page="/Index">На главную</a>
	</div>
</div>