obj/
bin/
Publish/
logs/
node_modules/

*.suo
*.user
*.bak
*.dll
*.exe
*.pdb
*.cache
*.log
*.vspscc
*.vssscc
*.appx
*.appxbundle
*.dll.config
*.dotCover
*.resharper
*.sln.docstates
*.userprefs
_ReSharper.*
packages.config
*.csproj.user
appsettings.json
.DS_Store
.vs/
.nuget/
wwwroot/dist/

!Web.config
