@inherits LayoutComponentBase

<div class="bg-info text-white p-2">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<span class="navbar-brand ml-2">LampStore - Панель администратора</span>
			</div>
			<div class="col-2 text-right">
				<a class="btn btn-sm btn-primary" href="/account/logout">Выйти</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row p-2">
		<div class="col-3">
			<div class="d-grid gap-1">
				<NavLink class="btn btn-outline-primary" href="/admin/products" ActiveClass="btn-primary text-white"
					Match="NavLinkMatch.Prefix">Продукты</NavLink>
				<NavLink class="btn btn-outline-primary" href="/admin/categories" ActiveClass="btn-primary text-white"
					Match="NavLinkMatch.Prefix">Категории</NavLink>
				<NavLink class="btn btn-outline-primary" href="/admin/collections" ActiveClass="btn-primary text-white"
					Match="NavLinkMatch.Prefix">Коллекции</NavLink>
				<NavLink class="btn btn-outline-primary" href="/admin/models-lights" ActiveClass="btn-primary text-white"
					Match="NavLinkMatch.Prefix">Модели</NavLink>
				<NavLink class="btn btn-outline-primary" href="/admin/about" ActiveClass="btn-primary text-white"
					Match="NavLinkMatch.Prefix">О компании</NavLink>
				<NavLink class="btn btn-outline-primary" href="/admin/faq" ActiveClass="btn-primary text-white"
					Match="NavLinkMatch.Prefix">FAQ</NavLink>
				<NavLink class="btn btn-outline-primary" href="/admin/cooperation" ActiveClass="btn-primary text-white"
					Match="NavLinkMatch.Prefix">Сотрудничество</NavLink>
				<NavLink class="btn btn-outline-primary" href="/admin/orders" ActiveClass="btn-primary text-white"
					Match="NavLinkMatch.Prefix">Заказы</NavLink>
				<NavLink class="btn btn-outline-primary" href="/admin/file-upload" ActiveClass="btn-primary text-white"
					Match="NavLinkMatch.Prefix">Загрузка файлов</NavLink>
				<NavLink class="btn btn-outline-primary" href="/admin/settings" ActiveClass="btn-primary text-white"
					Match="NavLinkMatch.Prefix">Настройки</NavLink>
				<NavLink class="btn btn-outline-primary" href="/admin/confident-police"
					ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Политика и соглашение</NavLink>
			</div>
		</div>
		<div class="col-9">@Body</div>
	</div>
</div>
