@page "/admin/orders"
@inherits OwningComponentBase<IOrderRepository>

<OrderTable StyleTable="bg-warning" TableTitle="Новые заказы" Orders="UnshippedOrders" GetOrders="UnshippedOrders"
	ButtonLabel="Ожидает выполнения" OrderSelected="ShipOrder" />
<OrderTable StyleTable="bg-success" TableTitle="Выполненые заказы" Orders="ShippedOrders" GetOrders="ShippedOrders"
	ButtonLabel="Выполнен" OrderSelected="ResetOrder" />

<button class="btn btn-info text-white" @onclick="@(e => UpdateData())">Обновить данные</button>

@code {
	public IOrderRepository Repository => Service;
	public IEnumerable<Order> AllOrders { get; set; } = Enumerable.Empty<Order>();
	public IEnumerable<Order> UnshippedOrders { get; set; } = Enumerable.Empty<Order>();
	public IEnumerable<Order> ShippedOrders { get; set; } = Enumerable.Empty<Order>();

	protected async override Task OnInitializedAsync()
	{
		await UpdateData();
	}

	public async Task UpdateData()
	{
		AllOrders = await Repository.Orders.ToListAsync();
		UnshippedOrders = AllOrders.Where(o => !o.Shipped);
		ShippedOrders = AllOrders.Where(o => o.Shipped);
	}

	public async Task ShipOrder(int id) => await UpdateOrder(id, true);

	public async Task ResetOrder(int id) => await UpdateOrder(id, false);

	private async Task UpdateOrder(int id, bool shipValue)
	{
		Order? o = await Repository.Orders.FirstOrDefaultAsync(o => o.OrderID == id);
		if (o != null)
		{
			o.Shipped = shipValue;
			Repository.SaveOrder(o);
		}
	}
}