.admin-notification__wrapper {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 20%;
	right: 0;
}

[type=button].btn-disabled {
	background-color: #cccccc;
	color: #666666;
	cursor: default;
}

[type=button].btn-disabled:hover {
	background-color: #cccccc;
	color: #666666;
}

div.validation-message {
	color: rgb(220, 53, 69);
	font-weight: 500
}

.files-manager__wrapper
{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

textarea.form-control {
	height: 250px;
}