@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 14px;
}

a {
	text-decoration: none;
}

.carousel-indicators [data-bs-target] {
	background-color: #000;
}

.mt-per-5 {
	margin-top: 5%;
}

.mt-per-10 {
	margin-top: 10%;
}

.mb-per-4 {
	margin-bottom: 4%;
}

.mb-per-5 {
	margin-bottom: 5%;
}

.mb-per-10 {
	margin-bottom: 10%;
}

.mb-per-15 {
	margin-bottom: 15%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.h1__caption {
	text-transform: initial;
	font-weight: 700;
	font-size: 3rem;
	line-height: 3.1rem;
}

.p__caption {
	text-transform: initial;
	font-weight: 400;
	font-size: 3rem;
	line-height: 3.1rem;
}

.a-btn-link {
	position: relative;
	padding-bottom: 3px;
	margin-right: 1rem;
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.15rem;
	text-transform: uppercase;
	color: #555555;
	transition: .3s;
}

.a-btn-link:hover {
	color: #000000;
}

.a-btn-link:hover::after {
	width: 100%;
}

.a-btn-link::after {
	position: absolute;
	bottom: -5px;
	left: 0;
	display: block;
	width: 0;
	height: 2px;
	background: #000000;
	content: "";
	transition: .3s;
}

.black-img__wrapper {
	padding: 5% 16% 5% 16%;
}

.black-img {
	background: linear-gradient(to top right, #0c0c0c, #3d3e3e);
	height: 25em;
	box-shadow: -17px 14px 13px 3px rgb(120 120 118);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: end;
	padding-bottom: 3%;
}

.black-img-h {
	color: white;
	font-size: 3.6em;
	font-weight: 700;
	text-shadow: 0 2px 0 #5f5f60, -9px 7px 6px #030304;
	text-transform: uppercase;
}

.black-img-p {
	color: white;
	font-size: 2em;
	font-weight: 400;
	text-shadow: 0 2px 0 #5f5f60, -9px 7px 6px #030304;
	text-transform: uppercase;
}

.img-center__wrapper {
	height: 30em;
	object-fit: cover;
	object-position: top;
	overflow: hidden;
}

.img-center {
	bottom: 0;
	position: relative;
	width: 100%;
}

.border-b {
	padding-bottom: 2.5%;
	border-bottom: 1px solid rgba(43, 46, 52, .4705882353);
}

.catalog-list__wrapper {
	display: grid;
	grid-template: repeat(1, 1fr)/repeat(1, 1fr);
	grid-auto-flow: dense;
	grid-column-gap: 16px;
	grid-row-gap: 35px;
	margin-top: 0;
}

.product-img__wrapper {
	height: 21em;
	object-fit: cover;
	object-position: top;
	overflow: hidden;
}

.product-desc__wrapper {
	display: flex;
	align-content: center;
	justify-content: space-between;
}

@media (min-width: 1880px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl,
	.container-xxl {
		max-width: 1880px;
	}

	.catalog-list__wrapper {
		grid-template: repeat(1, 1fr)/repeat(3, 1fr);
		grid-column-gap: 24px;
	}
} 

@media screen and (max-width: 428px) {

		.black-img__wrapper {
			padding: 0;
		}
	
		.black-img {
			background: linear-gradient(to top right, #0c0c0c, #3d3e3e);
			height: 17em;
			box-shadow: -17px 14px 13px 3px rgb(120 120 118);
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-content: end;
			padding-bottom: 4%;
		}
	
		.black-img-h {
			color: white;
			font-size: 2.5em;
			font-weight: 700;
			text-shadow: 0 2px 0 #5f5f60, -9px 7px 6px #030304;
		}
	
		.black-img-p {
			color: white;
			font-size: 1.7em;
			font-weight: 400;
			text-shadow: 0 2px 0 #5f5f60, -9px 7px 6px #030304;
		}


}